<div class="main-container">

  <div class="index">
    <h1>Mon compte</h1>
  </div>

  <div class="index">
    <h2>Mon profil</h2>
    <div class="profile">
      <div class="profile-components d-flex align-items-end">
        <div class="profile-photo mr-3">
          <% if @user.user_photo.file %>
            <%= cl_image_tag @user.user_photo.url, :height=>200, crop: :scale %>
          <% else %>
            <%= image_tag "avatar.png", alt: "alttext", :height=>200, crop: :scale %>
          <% end %>
        </div>
        <div class="profile-infos">
          <p>Nom d'utilisateur: <%= @user.username %></p>
          <p>Adresse mail: <%= @user.email %></p>
        </div>
      </div>
    </div>
    <div class="link">
      <%= link_to "Editer mon profil", edit_user_registration_path, class: "btn btn-secondary my-3" %>
    </div>
  </div>

  <div class="index">
    <h2>Mes chats</h2>
    <div class="cards-cat">
      <% if @cats.first %>
        <% @cats.each do |cat| %>
          <%= link_to cat_path(cat) do  %>
          <div class="cards-cat-components">
            <div class="card-cat-photo">
              <%= cl_image_tag cat.photo, :height=>200, crop: :scale %>
            </div>
            <div class="card-cat-infos">
              <h2><%= cat.name %></h2>
              <p><%= cat.city %></p>
            </div>
          </div>
          <% end %>
        <% end %>
      <% else %>
        <p>Vous n'avez aucun chat.</p>
      <% end %>
    </div>
    <div class="link">
      <%= link_to "Ajouter un nouveau chat", new_cat_path, class: "btn btn-secondary" %>
    </div>
  </div>

  <div class="index">
    <h2>Les chats que je loue</h2>
    <div class="cards-cat">
      <% if @rentals.first %>
        <% @rentals.each do |rental| %>
          <% cat = Cat.find(rental.cat_id) %>
          <% owner = User.find(cat.user_id) %>
          <%= link_to cat_path(cat) do  %>
            <div class="cards-cat-components">
              <div class="card-cat-photo">
                <%= cl_image_tag cat.photo, :height=>200, crop: :scale %>
              </div>
              <div class="card-cat-infos">
                <h2><%= cat.name %></h2>
                <p><%= cat.city %></p>
                <p>Propriétaire : <%= owner.username.capitalize %></p>
                <p>Loué du <%= rental.date_start %> au <%= rental.date_end %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>Vous n'avez aucune location.</p>
      <% end %>
    </div>
    <div class="link">
      <%= link_to "Rechercher un chat", cats_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>

