<div class="search-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1555341029-f730b0ce4522?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">

  <div class="main-container form-container form-search">
    <div class="form-card">
      <h1>Vous vous sentez seul.e ? Louez un chat !</h1>
      <h3>Trouvez un chat à proximité de vous :</h3>
      <%= render 'shared/form_search' %>
    </div>
  </div>
</div>

<div class="main-container index">
  <h1>Les derniers chats</h1>
  <p><%= @result_text if params[:query].present? %></p>
  <div class="cards-cat">
    <% @cats.each do |cat| %>
      <%= link_to cat_path(cat), class: "cards-cat-link" do %>
        <div class="cards-cat-components">
          <div class="card-cat-photo">
            <%= cl_image_tag cat.photo %>
          </div>
          <div class="card-cat-infos">
            <h2><%= cat.name %></h2>
            <p><%= cat.city %></p>
          </div>
          <div class="avatar-owner">
            <% @owner = User.find(cat.user_id) %>
            <% if @owner.user_photo.file %>
                <%= cl_image_tag @owner.user_photo.url, class: "avatar" %>
            <% else %>
              <%= image_tag "avatar.png", alt: "avatar", class: "avatar" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>

