<h1>Ajouter un nouveau chat</h1>

<%= simple_form_for [@user, @cat] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.submit "Ajouter un chat", class: "btn btn-primary" %>
<% end %>
