<div class="main-container">
  <%= cl_image_tag(@cat.photo, height: 400, crop: :fill) %>
  <div class="cat-container">
    <div class="cat-card">
      <div class="cat-card-information">
        <h1><%= @cat.name %></h1>
        <p><%= @cat.street %>, <%= @cat.postcode %> <%= @cat.city %></p>
      </div>
      <div class="cat-card-description">
        <p><%= @cat.description %></p>
      </div>
      <div class="avatar-owner-show">
        <% @owner = User.find(@cat.user_id) %>
        <% if @owner.user_photo.file %>
            <%= cl_image_tag @owner.user_photo.url, height: 60, crop: :scale, class: "avatar-large" %>
        <% else %>
          <%= image_tag "avatar.png", alt: "avatar", class: "avatar-large" %>
        <% end %>
      </div>
      <div>
        <h2>
          <%= pluralize @cat.reviews.size, "review" %>
        </h2>
        <div id="reviews">
          <% if @cat.reviews.blank? %>
            Soyez le premier à laisser une review <%= @cat.name %>
          <% else %>
            <% @cat.reviews.each do |review| %>
              <%= render 'reviews/show', review: review %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'shared/form_rental' %>
  </div>
</div>



