<div class="cat-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)),
         url('<%= cl_image_path @cat.photo %>')">
</div>

<div class="main-container">
  <div class="cat-container">
    <div class="cat-card">
      <div class="cat-card-information">
        <h1><%= @cat.name %></h1>
        <p><%= @cat.street %>, <%= @cat.postcode %> <%= @cat.city %></p>
      </div>
      <div class="cat-card-description">
        <p><%= @cat.description %></p>
      </div>
    </div>
    <%= render 'shared/form_rental' %>
  </div>
</div>
