<div class="cat-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)),
         url('<%= cl_image_path @cat.photo, height: 400 %>')">
</div>

<div class="main-container">
  <div class="cat-container">
    <div class="cat-card">
      <div class="cat-card-information">
        <h1><%= @cat.name %></h1>
        <p><%= @cat.street %>, <%= @cat.postcode %> <%= @cat.city %></p>
      </div>
      <div class="cat-card-description">
        <p><%= @cat.description %> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ratione nam velit, a eveniet earum, fugit laudantium voluptates suscipit qui quisquam aspernatur officia repellat quaerat provident. Hic, nisi voluptates ducimus.</p>
      </div>
      <div class="avatar-owner-show">
        <% @owner = User.find(@cat.user_id) %>
        <% if @owner.user_photo.file %>
            <%= cl_image_tag @owner.user_photo.url, class: "avatar-large" %>
        <% else %>
          <%= image_tag "avatar.png", alt: "avatar", class: "avatar-large" %>
        <% end %>
      </div>
    </div>
    <%= render 'shared/form_rental' %>
  </div>
</div>
